
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
	.content-graph{
		width:100%;
	}
	.content-canvas{
		padding:10px;
	}
	.title-graph{
		font: italic 25px/25px 'Roboto Slab', sans-serif;
		color:#fff;
		text-align:center;
	}
	.btn-graph{
		padding: 5px 7px 5px 7px;
		color: #fff;
		text-transform: uppercase;
		border-radius: 5%;
		border: solid 1px #fff;
		background-color:transparent;
		transition: all .3s;
		cursor:pointer;
		outline: none;
		font-size: 9px;
		margin: 0 5px;
	}
	.btn-graph.activo { 
		background: SkyBlue;
		}
	.btn-graph:hover{
		color: #000;
		border: solid 1px #000;
	}
	.header-graph{
		background-color:#9a9898;
		padding:5px 5px 10px 5px;
 		text-align: center;
		margin-bottom:25px;
	}
	.referencias{
		padding: 0 10px;
		overflow: hidden;
		margin: 14px auto;
	}
	.referencias li{
		font: normal 16px/33px 'Roboto Slab', sans-serif;
		list-style: none;
		float: left;
		padding-right: 13px;
		color: #696969;
	}
	#canvas-holder{
		margin:0 auto;
	}
	.referencias li span{
		width: 20px;
		height: 20px;
		float: left;
		margin: 8px 7px 8px 4px;
		border-radius: 100%;
	}
	.tit-cons{
		text-align:center;
		font: italic 19px/19px 'Roboto Slab', sans-serif;
		display:none;
	}
	
@media (max-width: 768px){
	.referencias {
		width: 100%;
		padding:0px;
	}
	#canvas-holder{
		width:100%;
	}
}
@media (max-width: 660px){
	.header-graph{
		position:relative;
		overflow: hidden;
		height: 42px;
		transition: all 0.5s;
	}
	.header-graph.active{
		height:260px;
	}
	.btn-menu{
		display: block;
		width: 36px;
		height: 10px;
		padding: 6px 0 16px 0;
		position: absolute;
		left: 12px;
		top: 14px;
		background-color: #000;
	}
	.btn-menu span{
		display:block;
		width:25px;
		height:3px;
		margin:3px auto;
		background-color:#fff;
	}
	.btn-graph{
		margin: 15px auto;
		display: block;
	}
	.title-graph {
		font: italic 16px/25px 'Roboto Slab', sans-serif;
	}
	.referencias li {
		font: normal 12px/30px 'Roboto Slab', sans-serif;
		width: 100%;
		padding: 0;
	}
	.referencias li span {
		margin: 4px 7px 4px 4px;
	}
	.tit-cons{
		display:block;
	}
}
